@import './rishdawg-tokens.scss';

.rish-container {
  background-color: $body-background-color;
  color: $body-text-color;
}
.rish-row {
  display: flex;
  flex-direction: row;
}

.rish-col {
  display: flex;
  flex-direction: column;
}

.rish-col-center {
  align-items: center;
}

.rish-row-center {
  justify-content: center;
}

.rish-carousel {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
