$color-black: #000;
$color-teal: #0cc;
$color-white: #fff;

$body-background-color: $color-black;
$body-text-color: $color-white;
$button-background-color: $color-teal;
$button-text-color: $color-black;
$link-text-color: $color-teal;
