@import './rishdawg-tokens.scss';

.rish-container {
  background-color: $body-background-color;
  color: $body-text-color;
}
.rish-row {
  display: flex;
  flex-direction: row;
}

.rish-col {
  display: flex;
  flex-direction: column;
}

.rish-col-center {
  align-items: center;
}

.rish-row-center {
  justify-content: center;
}

.rish-carousel {
  height: 500px;
  position: relative;
  overflow: hidden;
  .rish-carousel-mover {
    width: 10%;
    position: absolute;
    height: 50px;
    &.rish-carousel-mover-left {
      top: 200px;
    }
    &.rish-carousel-mover-right {
      top: 200px;
      right: 0px;
    }
  }
  .rish-carousel-main {
    margin: 0% 10%;
    height: 100%;
    text-align: center;
    &.rish-carousel-main-img {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 80%;
    }
    .rish-carousel-main-ytb {
      height: 100%;
      width: 80%;
    }
  }
}
